<div class="container-fluid">
  <div class="row">
    <div class="theme-bg">
      <span class="theme">好きなスイーツをShareしましょう！</span>
    </div>
  </div>
  <!--表示切替ボタン-->
  <div id="naviParent">
    <div class="row" id="changing_display_order_button">
      <div class="col-md-6 offset-md-3">
        <% if current_user %>
          <% option = current_user.order_option %>
        <% else %>
          <% option = session[:not_logged_in] %>
        <% end %>
        <div>
          <%= react_component('changing_display_order_button', option: option) %>
        </div>
      </div>
    </div>
  </div>
  <!--カテゴリ、記事一覧-->
  <div class="row">
    <div class="col-md-2">
      <%= render 'shared/category' %>
    </div>
    <div class="col-md-6 offset-md-1">
      <div class="articles">
        <ul>
          <%= render @articles %>
        </ul>
      </div>
      <div class="pagination">
        <%= paginate @articles %>
      </div>
    </div>
    <div class="col-md-3">
      <%= search_form_for @q, url: articles_path do |f| %>
        <%= f.label :sweet_name, "商品名" %>
        <%= f.search_field :sweet_name_cont %>
        <%= f.submit "検索", class:'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).on('turbolinks:load', function() {
    const button = $('#changing_display_order_button');
    const naviParent = $('#naviParent');
    const navbar = $('.navbar');
    const sidebar = $('.sidebar');

    function removeClass()
    {
      button.removeClass('fixed_button');
      naviParent.removeClass('fixed_naviParent');
      sidebar.removeClass('fixed_sidebar');
    }

    function addClass(){
      button.addClass('fixed_button');
      naviParent.addClass('fixed_naviParent');
      sidebar.addClass('fixed_sidebar')
    }

    function initialize()
    {
      let d = new $.Deferred;

      removeClass();
      scrollTo(0, 0);

      d.resolve();
      return d.promise();
    }

    const promise = initialize();

    promise.then(function(){
      const offset = button.offset();

      $(window).scroll(function () {
        if($(window).scrollTop() >= (offset.top - navbar.outerHeight() - 20.0)) {
          addClass();
        } else {
          removeClass();
        }
      });
    });
  });

  window.addEventListener("popstate", function() {
    window.location.reload();
  });
</script>