<div class="container-fluid">
  <div class="row">
    <span class="explain">
      好きなスイーツについて投稿、共有しましょう！
    </span>
  </div>
  <div class="row">
    <div class="col-md-3" >
      <!-- サイドバーを固定したい -->
      <div class="sidebar">
      <span class="category">カテゴリー</span>
      <ul>
        <li><%= link_to '全て', root_path,
                class:"genre_list" %></li>
        <li><%= link_to 'チョコレート', articles_path(genre: 'chocolate'),
                class:"genre_list" %></li>
        <li><%= link_to 'クッキー', articles_path(genre: 'cookie'),
                class:"genre_list" %></li>
        <li><%= link_to 'アイスクリーム', articles_path(genre: 'ice_cream'),
                class:"genre_list" %></li>
        <li><%= link_to 'ケーキ', articles_path(genre: 'cake'),
                class:"genre_list" %></li>
        <li><%= link_to 'その他', articles_path(genre: 'etc'),
                class:"genre_list" %></li>
      </ul>
      </div>
    </div>
    <div class="col-md-6">
      <%= react_component('changing_display_order_button', option: current_user &. order_option) %>
      <%= render @articles %>
    </div>
  </div>
</div>