<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="text-center">コメント作成</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center user_profile">
      <div class="fixed-sidebar">
        <%= render 'shared/article_user_profile' %>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <%= render @article %>
      
      <%= form_for [@article, @comment] do |f| %>
        <div class="comment-error-messages">
          <%= render 'shared/error_messages', object: f.object %>
        </div>
      
        <div class="comment-form">
          <div class="row">
            <div class="col-md-3 text-center">
              <div>
                <%= link_to image_tag(current_user.image, alt: 'User_image', class:'user_image'),
                    current_user %>
              </div>
            </div>
            <div class="col-md-9 no_padding">
              <div class="display-flex">
                <div class="form-group comment-area">
                  <%= f.text_area :content, rows: 4, class:"form-control", id: "comment-area", placeholder: 'コメントを入力' %>
                </div>
                <script>
                  $('#comment-area').focus();
                </script>
                <div class="form-group comment-button">
                  <%= f.submit '送信', class:"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>