<li id="article-<%= article.id %>">
  <div class ="article whole-link whole-link-article">
    <div class="row">
      <div class="col-md-3 text-center">
        <% user = article.user %>
        <%= link_to image_tag(image(user), alt: 'User_image', class:'user_image'), user, class:'upper-link' %>
      </div>
      <div class="col-md-9 no_padding">
        <div class="article-padding">
          <span class="article-user"><%= link_to user.name, user, class:'upper-link' %></span>
          <span class="article-timestamp">
            <%= time_ago_in_words(article.created_at) %> 前
          </span>
        </div>
        <% if article.image.present? %>
          <%= image_tag(article.image, alt: 'sweet_image', class:'article-sweet-image upper-link') %>
        <% end %>
        <div class="article-padding">
          <span>商品名：<%= article.sweet_name %></span>
        </div>
        <div class="article-padding">
          <span class="genre">ジャンル：<%= article.converted_genre %></span>
        </div>
        <% if article.url.present? %>
          <div class="article-padding url">
            <span class="url">
              参考URL：<a href="<%= article.url %>" target="_blank" class="upper-link"><%= article.url %></a>
            </span>
          </div>
        <% end %>
        <div class="article-padding">
          <u>紹介文</u>
          <div class="border rounded content">
            <span class="content"><%= article.content %></span>
          </div>
        </div>
        
        <!-- ボタン一覧 -->
        <div class="function-button flex">
          <div class="comment-button">
            <div class="d-inline-block upper-link common-button">
              <%= react_component('comment_button',
                                   article_id: article.id,
                                   user: current_user) %>
              <p class="bloom bloom-comment">コメント</p>
            </div>
            <div class="d-inline-block">
              <span><%= article.comments.all.count %></span>
            </div>
          </div>
          <div class="like-button upper-link">
            <%= react_component('like_button',
                                 article_id: article.id,
                                 like_id: current_user &. likes &.find_by(liked_article_id: article.id)&.id,
                                 count: Like.where(liked_article_id: article.id).count,
                                 user: current_user) %>
          </div>
          <div class="stock-button upper-link common-button">
            <%= react_component('stock_button',
                                 article_id: article.id,
                                 stock_id: current_user &. stocks &. find_by(stocked_article_id: article.id)&.id,
                                 user: current_user) %>
            <p class="bloom bloom-stock">ストック</p>
          </div>
          <% if current_user?(user) %>
            <div class="article-edit-button">
              <button class="btn btn-link icon-big upper-link common-button">
                <%= link_to edit_article_path(article) do %>
                   <%= icon('far', 'edit') %>
                <% end %>
                <p class="bloom bloom-edit">編集</p>
              </button>
            </div>
            <div class="article-delete-button">
              <button type="button" class="btn btn-link icon-big upper-link common-button" data-toggle="modal" data-target="#articleModal">
                <%= icon('far', 'trash-alt') %>
                <p class="bloom bloom-delete">削除</p>
              </button>

              <!-- モーダルの設定 -->
              <div class="modal fade" id="articleModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">記事を削除しますか？</h5>
                      <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>この操作は取り消せません。削除すると、このサイト全てのページ上で表示されていた該当記事が見られなくなります。</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                      <%= link_to '削除', article_path(article), method: :delete, class:"btn btn-danger" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="btn btn-link icon-big dummy-edit"></div>
            <div class="btn btn-link icon-big dummy-article-delete"></div>
          <% end %>
        </div> <!-- ボタン一覧 ここまで -->
      </div>
    </div>
    <%= link_to '', article, class: 'link-area' %>
  </div>
</li>