<div class ="border-left border-right">
  <li id="article-<%= article.id %>">
    <div class="row">
      <div class="col-md-3 text-center">
        <% image = 
           article.user.image.present? ? article.user.image : 'images.png' %>
        <%= link_to image_tag(image, alt: 'User_image', class:'user_image'),
                    article.user %>
      </div>
      <div class="col-md-9 no_padding">
        <span class="user"><%= link_to article.user.name, article.user %></span>
        <span class="timestamp">
          <%= time_ago_in_words(article.created_at) %> 前
        </span>
        <% if article.image.present? %>
          <%= image_tag(article.image, alt: 'sweet_image', class:'sweet_image') %>
        <% end %>
        <p>商品名：
        <span class="sweet_name"><%= article.sweet_name %></span>
        </p>
        <p>ジャンル：
        <span class="genre"><%= article.genre %></span>
        </p>
        <u>紹介文</u>
        <span class="content"><%= article.content %></span>
        <div class="function-button flex">
          <% @article = article %>
          <% @user = current_user %>
          <div class="stock-button">
            <%= react_component('stock_button',
                                 article_id: @article.id,
                                 stock_id: current_user &. stocks &. find_by(stocked_article_id: @article.id)&.id,
                                 user: @user) %>
          </div>
          <div class="like-button">
            <%= react_component('like_button',
                                 article: @article.attributes,
                                 like: current_user &. likes &.find_by(liked_article_id: @article.id)&.attributes,
                                 count: Like.where(liked_article_id: @article.id).count,
                                 user: @user) %>
          </div>
          <% if current_user?(@article.user) %>
            <div class="btn btn-link icon-big article-edit-button">
              <%= link_to edit_article_path(@article) do %>
                 <%= icon('far', 'edit') %>
              <% end %>
            </div>
            <div>
              <div class="article-delete-button">
                <%= react_component('hooks_article_delete_button', delete_article: @article.attributes) %>
              </div>
            </div>
          <% else %>
            <div class="btn btn-link icon-big dummy-edit"></div>
            <div class="btn btn-link icon-big dummy-article-delete"></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="border-bottom">
    </div>
  </li>
</div>