<% @bg_css = like.checked? ? 'bg-white' : 'lightcyan' %>
<div class="like-notification whole-link <%= @bg_css %>">
  <% user = User.find(like.like_user_id) %>
  <% image = user.image.present? ? user.image : 'images.png' %>
  <%= image_tag(image, alt: 'User_image', class:'user_image') %>
  <p>
    <%= link_to user, class:'upper-link' do %>
      <b><%= "#{User.find(like.like_user_id).name}" %></b>
    <% end %>
    さんがあなたの記事をいいねしました
  </p>
  <%= link_to '', article_path(Article.find(like.liked_article_id), like_id: like.id), class: 'link-area' %>
</div>