<% bg_color = like.checked? ? 'checked' : 'unchecked' %>
<% whole_link = like.checked? ? 'whole-link-checked' : 'whole-link-unchecked' %>
<div class="like-notification whole-link <%= whole_link %> <%= bg_color %>">
  <% user = User.find(like.like_user_id) %>
  <%= image_tag(image(user), alt: 'User_image', class:'user_image') %>
  <p>
    <%= link_to user, class:'upper-link' do %>
      <b><%= "#{User.find(like.like_user_id).name}" %></b>
    <% end %>
    さんがあなたの記事をいいねしました
  </p>
  <%= link_to '', article_path(Article.find(like.liked_article_id), like_id: like.id), class: 'link-area' %>
</div>