<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center user_profile">
      <%= render 'shared/user_profile' %>
    </div>
    <div class="col-md-4 offset-md-2">
      <h2 class="text-center">ユーザー情報編集</h2>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :image, "プロフィール画像", class:"image-label" %>
          <%= f.file_field :image %>
        </div>
        <div class="form-group">
          <%= f.label :name, "ユーザー名" %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "パスワード(確認用にもう1度入力してください)" %>
          <%= f.password_field :password_confirmation, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "変更", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>