<div class="sidebar">
  <span class="category">
    <%= icon('fas', 'search') %><span class="search-content">条件で検索</span>
  </span>
  <div class="reference">
    <%= search_form_for @q, url: "/", html: { method: :get }, class:'search_form' do |f| %>
      <%= f.label :genre, 'ジャンルを選択' %>
      <%= f.select :genre_eq, genre_list, include_blank: true, id:'genre-selection' %>

      <%= f.label :prefecture, '都道府県を選択' %>
      <%= f.select :prefecture_eq, prefecture_array, include_blank: true, id:'prefecture-selection' %>

      <%= f.label :sweet_name, '商品名を入力' %>
      <%= f.search_field :sweet_name_cont, id:'sweet-name-search', placeholder:'' %>
      <div class="search-form-button">
        <div class="clear-button">
          <%= link_to 'クリア', root_path, class:'btn btn-secondary', id:'clear-button' %>
        </div>
        <div class="search-button">
          <%= button_tag '検索', type: 'submit', class:'btn btn-primary', id:'search-button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>