<div class="sidebar">
  <span class="category">ジャンル</span>
  <ul>
    <li><%= link_to '全て', root_path,
            class:"genre_list" %></li>
    <li><%= link_to 'チョコレート', root_path(genre: 'chocolate'),
            class:"genre_list" %></li>
    <li><%= link_to 'クッキー', root_path(genre: 'cookie'),
            class:"genre_list" %></li>
    <li><%= link_to 'アイスクリーム', root_path(genre: 'ice_cream'),
            class:"genre_list" %></li>
    <li><%= link_to 'ケーキ', root_path(genre: 'cake'),
            class:"genre_list" %></li>
    <li><%= link_to 'その他', root_path(genre: 'etc'),
            class:"genre_list" %></li>
  </ul>
  <p class="category">都道府県</p>
  <%= form_tag(root_path, method: :get, id:'prefecture-form') do %>
    <%= select_tag(:prefecture, options_for_select(prefecture_array), include_blank: true, id:'prefecture-selection') %>
    <%= submit_tag("検索") %>
  <% end %>
</div>