<div class="user-contents">
  <div><%= link_to image_tag(image(user), alt: 'User_image', class:'user_image'), user %></div>
  <div><%= link_to user.name, user %></div>
  <div class="follow-button">
    <%= react_component('follow_button',
                        follow_user_id: current_user&.id,
                        followed_user_id: user&.id,
                        relationship_id: current_user &. active_relationships &. find_by(followed_id: user.id)&.id,
                        followings: user &. active_relationships &. all.count,
                        followers: user &. passive_relationships &. all.count ) %>
  </div>
  <% if current_user?(user) %>
    <div class="user-function">
      <div><%= link_to "記事投稿", new_article_path, class:"btn btn-primary" %></div>
      <div>
        <%= link_to notify_user_path(user), class:"btn btn-primary" do %>
          通知 <span class="rounded-circle bg-danger number_of_notice"><%= "#{number_of_notice(user)}" %></span>
        <% end %>
      </div>
      <div><%= link_to "フォローユーザー記事", followings_articles_user_path(user), class:"btn btn-primary", id:"followings-articles" %></div>
      <div><%= link_to "ストック記事", stocks_user_path(user), class:"btn btn-primary", id:"stock" %></div>
      <div><%= link_to "プロフィール変更", edit_user_path(user), class:"btn btn-primary", id:"change-profile" %></div>
      <div><%= link_to "アカウント削除", deactivate_user_path(user), class:"btn btn-primary", id:"deactivate" %></div>
    </div>
  <% end %>
</div>