<div class="user-contents">
  <div><%= link_to image_tag(image, alt: 'User_image', class:'user_image'), user %></div>
  <div><%= link_to user.name, user %></div>
  <% if !current_user?(user) %>
    <% @followed_user = user %>
    <div class="follow-button">
      <%= react_component('follow_button',
                          follow_user: current_user,
                          followed_user_id: @followed_user.id,
                          relationship_id: current_user &. active_relationships &. find_by(followed_id: @followed_user.id)&.id) %>
    </div>
  <% end %>
  <span class="follow-info">
    フォロー <%= user.followings.count %>&emsp;フォロワー <%= user.followers.count %>
  </span>

  <% if current_user?(user) %>
    <!-- 自分の記事がいいねされていて、かつそのcreated_atがlast_access_time より前であること -->
    <% number_of_notice = Like.where(liked_article_id: Article.where(user_id: user.id))
                              .where("created_at > ?", user.last_access_time).count.to_s.tr('0-9', '０-９') %>
    <% number_of_notice = '' if number_of_notice == '０' %>
    <div class="user-function">
      <div><%= link_to "記事投稿", new_article_path, class:"btn btn-primary" %></div>
      <div>
        <%= link_to notify_user_path(user), class:"btn btn-primary" do %>
          通知 <span class="rounded-circle bg-danger number_of_notice"><%= "#{number_of_notice}" %></span>
        <% end %>
      </div>
      <div><%= link_to "ストック記事", stocks_user_path(user), class:"btn btn-primary", id:"stock" %></div>
      <div><%= link_to "プロフィール変更", edit_user_path(user), class:"btn btn-primary", id:"change-profile" %></div>
      <div><%= link_to "ログアウト", logout_path, method: :delete, class:"btn btn-primary", id:"logout" %></div>
      <div><%= link_to "アカウント削除", deactivate_user_path(user), class:"btn btn-primary", id:"deactivate" %></div>
    </div>
  <% end %>
</div>