<!DOCTYPE html>
<html>
  <head>
    <title>MyFirstApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>

    <% use_turbolinks_visit_control = @use_turbolinks_visit_control ? true : false %>
    <meta name="turbolinks-visit-control" content="<%= "#{content(use_turbolinks_visit_control)}" %>">
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <div class="main">
      <% flash.each do |message_type, message| %>
        <div class='alert-position alert alert-<%= message_type %>'><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
